@model IEnumerable<Trial.Models.ProjectViewModel>
<br /><br />
<h1 class="row manage-title">MANAGE PROJECTS</h1><br />

<div id="modal-container" class="modal fade"
     tabindex="-1" role="dialog" style="width:1000px;height:500px;margin-left:400px;">
    <div class="modal-content">
    </div>
</div>

<div class="row">
    <div class="col-lg-1">
        <a class="btn btn-success" href="@Url.Action("AdminProjectForm", "Project")">Add Project</a><br />
    </div>
</div><br /><br />

<table id="manageprojects" class="display">
    <thead>
        <tr>
            <th>PROJECT NAME</th>
            <th>CUSTOMER NAME</th>
            <th>PRICE</th>
            <th>START DATE</th>
            <th>SUBMIT DATE</th>
            <th>DESCRIPTION</th>
            <th>ON PROGRESS</th>
            <th>ASSIGNED</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    <div class="col-sm-1">
                        @item.Project.Name
                    </div>
                </td>

                <td>
                    <div class="col-sm-1">
                        @item.User.UserName
                    </div>
                </td>
                <td>
                    <div class="col-sm-1">
                        @item.Project.Price
                    </div>
                </td>
                <td>
                    <div class="col-sm-2">
                        @item.Project.Shcedule_From
                    </div>
                </td>
                <td>
                    <div class="col-sm-2">
                        @item.Project.Schedule_To
                    </div>
                </td>

                <td>
                    <div class="col-sm-2">
                        @item.Project.Description
                    </div>
                </td>
                <td>
                    <div class="col-sm-1">
                        @item.Project.Status
                    </div>
                </td>
                <td>
                    <div class="col-sm-1">
                        @item.Project.Assigned
                    </div>
                </td>


                <td>
                    <div class="col-sm-1">
                        <a title="Delete" class="delproj" href="@Url.Action("DeleteProject", "Project", new { id = item.Project.Id })">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        &emsp;
                        <a title="Edit" class="modal-link" href='@Url.Action("EditProject", "Project",new { id = item.Project.Id })'>
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </div>
                </td>

            </tr>
        }
    </tbody>



</table>



            <script>
                $(document).ready(function () {
                    $("#manageprojects").DataTable();
                });

                $("#manageprojects").on("click", ".delproj", function (e) {

                    e.preventDefault();
                    var location = $(this).attr('href');


                    bootbox.confirm("Are you sure you want to delete this project?", function (result) {
                        if (result) {
                            window.location.replace(location);
                          

                        }
                    });
                    


                });

                $(function () {
                    // Initialize numeric spinner input boxes
                    //$(".numeric-spinner").spinedit();
                    // Initialize modal dialog
                    // attach modal-container bootstrap attributes to links with .modal-link class.
                    // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
                    $('body').on('click', '.modal-link', function (e) {
                        e.preventDefault();
                        $(this).attr('data-target', '#modal-container');
                        $(this).attr('data-toggle', 'modal');
                    });
                    // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
                    $('body').on('click', '.modal-close-btn', function () {
                        $('#modal-container').modal('hide');
                    });
                    //clear modal cache, so that new content can be loaded
                    $('#modal-container').on('hidden.bs.modal', function () {
                        $(this).removeData('bs.modal');
                    });
                    $('#CancelModal').on('click', function () {
                        return false;
                    });
                });

            </script>
@section footer{
<footer class="row subsection subsection-three navbar-fixed-bottom">
    <div style="padding-top:20px;padding-bottom:20px;color:#B99867;background-color:#283345;" class="col-lg-12">All Copyrights Reserved 2017 | JOBY Development Team.</div>
</footer>
}
