@model IEnumerable<Trial.Models.DeliveredProjectViewModel>


<div id="modal-container3" class="modal fade"
     tabindex="-1" role="dialog" style="width:500px;height:500px;margin-left:700px;">
    <div class="modal-content">
    </div>
</div>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h2 class="row">TEAM</h2>
</div>


<table id="team" class="display">
    <thead>
        <tr>
            <th>USER NAME</th>
            <th>EMAIL</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>PHONE NUMBER</th>
            <th>EVALUATION</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    <div class="col-sm-2">
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </div>
                </td>

                <td>
                    <div class="col-sm-2">
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </div>
                </td>

                <td>
                    <div class="col-sm-2">
                        @Html.DisplayFor(modelItem => item.User.Fname)
                    </div>
                </td>

                <td>
                    <div class="col-sm-2">
                        @Html.DisplayFor(modelItem => item.User.Lname)
                    </div>
                </td>

                <td>
                    <div class="col-sm-2">
                        @Html.DisplayFor(modelItem => item.User.PhoneNum)
                    </div>
                </td>

                <td>
                    @if (item.User.Id != ViewBag.tlid)
                    {
                        <div class="col-sm-2">
                            <a title="View Evaluation" class="modal-link" href="@Url.Action("ViewEvaluation", "Project", new { id = item.ProjectHistory.Id, memberid = item.User.Id })">
                                <span class="glyphicon glyphicon-star"></span>
                            </a>
                        </div>
                    }
                </td>


            </tr>
        }
    </tbody>

</table>

<script>
        $(document).ready(function () {
            $("#team").DataTable();
        });
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();
            // Initialize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container3');
                //$(this).attr('data-toggle', 'modal');
            });
            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-dismiss', 'modal');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-container3').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
                $('#modal-container').modal('show');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
        });

</script>
