@model IEnumerable<Trial.Models.AssignedProjectViewModel>
<h2 class="row manage-title">MANAGE TEAM</h2><br />




<table id="team" class="display">
    <thead>
        <tr>
            <th>USER NAME</th>
            <th>EMAIL</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>PHONE NUMBER</th>
            @if (User.IsInRole("Team Leader"))
            {
                <th>ACTION</th>

            }
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.User.Fname)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.User.Lname)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.User.PhoneNum)
                </td>

                @if (User.IsInRole("Team Leader"))
                {
                <td>
                   @if (item.User.Id != ViewBag.pmid)
                   {
                    <a title="Request To Remove" class="removemember" href="@Url.Action("RequestRemoveMember", "Project", new { id = item.Project.Id, memberid = item.User.Id })">
                        <img src='~/Bikes/Leave.png' width="35px" height="35px">
                    </a>
                   }
                </td>
                }


            </tr>
        }
    </tbody>

</table>

<script>
        $(document).ready(function () {
            $("#team").DataTable();
        });

        $('.removemember').click(function (e) {

            e.preventDefault();
            $.ajax({

                url: $(this).attr("href"),
                success: function () {
                    var NestId = $(this).data('id');
                    toastr.success('Request Has Been Sent Successfully!');
                }

            }
            );


        });


       



</script>