@model IEnumerable<Trial.Models.ProjectViewModel>
<br />
    <div class="row not-assigned-project">
        <div id="modal-container" class="modal fade"
             tabindex="-1" role="dialog" style="width:1000px;height:500px;margin-left:400px;">
            <div class="modal-content">
            </div>
        </div>
        

        <h1 class="row manage-title">UNASSIGNED PROJECTS</h1><br /><br />
  
        <table id="unassignedtable" class="display">
            <thead>
                <tr>
                    <th>PROJECT TITLE</th>
                    <th>CUSTOMER NAME</th>
                    <th>DESCRIPTION</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {

                    <tr>
                        <td>
                            <div class="col-sm-1">
                                @item.Project.Name
                            </div>
                        </td>

                        <td>
                            <div class="col-sm-1">
                                @item.User.UserName
                            </div>
                        </td>


                        <td>
                            <div class="col-sm-3">
                                @item.Project.Description
                            </div>
                        </td>



                        @if (User.IsInRole("Project Manager"))
                        {
                            <td>
                                <div class="col-sm-3">
                                    <a title="Submit" style="text-decoration:none;" class="submitproj" href="@Url.Action("SubmitProject", "Project", new { id = item.Project.Id })">
                                        <span class="glyphicon glyphicon-saved"></span>

                                    </a>
                                    <a title="Comment" style="text-decoration:none;" class="modal-link" href='@Url.Action("Comment", "Project", new { id = item.Project.Id })'>
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a title="Show Comments" style="text-decoration:none;" class="modal-link" href='@Url.Action("ShowComments", "Project", new { id = item.Project.Id })'>
                                        <span class="glyphicon glyphicon-comment"></span>
                                    </a>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="col-sm-3">
                                   
                                    <a title="Show Comments" style="text-decoration:none;" class="modal-link" href='@Url.Action("ShowComments", "Project", new { id = item.Project.Id })'>
                                        <span class="glyphicon glyphicon-comment"></span>
                                    </a>
                                </div>
                            </td>
                        }


                    </tr>
                }
            </tbody>
        </table><hr />
        <script>
            $(document).ready(function () {
                $("#unassignedtable").DataTable();
            });


            $('.submitproj').click(function (e) {

                e.preventDefault();
                $.ajax({

                    url: $(this).attr("href"),
                    success: function () {
                        toastr.success('Submitted To Project Successfully!');
                        var NestId = $(this).data('id');
                    }

                });


            });


            $(function () {
                // Initialize numeric spinner input boxes
                //$(".numeric-spinner").spinedit();
                // Initialize modal dialog
                // attach modal-container bootstrap attributes to links with .modal-link class.
                // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
                $('body').on('click', '.modal-link', function (e) {
                    e.preventDefault();
                    $(this).attr('data-target', '#modal-container');
                    $(this).attr('data-toggle', 'modal');
                });
                // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
                $('body').on('click', '.modal-close-btn', function () {
                    $('#modal-container').modal('hide');
                });
                //clear modal cache, so that new content can be loaded
                $('#modal-container').on('hidden.bs.modal', function () {
                    $(this).removeData('bs.modal');
                });
                $('#CancelModal').on('click', function () {
                    return false;
                });
            });

        </script>

    </div>

   