@model IEnumerable<Trial.Models.ProjectWorksOnViewModel>

<div class="row not-assigned-project">

    <div id="modal-container" class="modal fade"
         tabindex="-1" role="dialog">
        <div class="modal-content">
        </div>
    </div>
   


    <h2 class="project-title">ASSIGNED PROJECTS</h2><br /><br />


    <table table id="assignedtable" class="display">
        <thead>
            <tr>
                <th>PROJECT NAME</th>
                <th>PRICE</th>
                <th>START DATE</th>
                <th>SUBMIT DATE</th>
                <th>DESCRIPTION</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        <div class="col-sm-1">
                            @item.Project.Name
                        </div>
                    </td>

                    <td>
                        <div class="col-sm-1">
                            @item.Project.Price
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-1">
                            @item.Project.Shcedule_From
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-1">
                            @item.Project.Schedule_To
                        </div>
                    </td>

                    <td>
                        <div class="col-sm-1">
                            @item.Project.Description
                        </div>
                    </td>



                    @if (User.IsInRole("Project Manager"))
                    {
                        <td>
                            <div class="col-sm-1">
                                <a title="Team" class="modal-link" href="@Url.Action("PMManageProject", "Project", new { id = item.Project.Id })">
                                    <span class="glyphicon glyphicon-user"></span>
                                </a>
                                <a title="Search For Team Leaders" class="modal-link" href="@Url.Action("SearchTL", "Project", new { id = item.Project.Id })">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                                <a title="Search For Junior Developers" class="modal-link" href="@Url.Action("SearchJD", "Project", new { id = item.Project.Id })">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                                <a title="Leave" class="leaveproj" href="@Url.Action("PMLeaveProject", "Project", new { id = item.Project.Id })">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                </a>
                                <a title="Comment" class="modal-link" href='@Url.Action("Comment", "Project",new { id = item.Project.Id })'>
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a title="Show Comments" class="modal-link" href='@Url.Action("ShowComments", "Project",new { id = item.Project.Id })'>
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a title="Edit" class="modal-link" href="@Url.Action("EditProject", "Project", new { id = item.Project.Id })">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a title="Deliver" class="deliverproj" href="@Url.Action("Deliver", "Project", new { id = item.Project.Id })">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </a>
                             </div>


                        </td>

                    }
                    @if (User.IsInRole("Team Leader"))
                    {
                        <td>
                            <div class="col-sm-1">
                                <a title="Team" class="modal-link" href="@Url.Action("TL_JD_ManageProject", "Project", new { id = item.Project.Id })">
                                    <span class="glyphicon glyphicon-user"></span>
                                </a>
                                <a title="Search For Junior Developers" class="modal-link" href="@Url.Action("SearchJD", "Project", new { id = item.Project.Id })">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                                <a title="Request To Leave" class="requestleave" href="@Url.Action("RequestToLeave", "Project", new { id = item.Project.Id })">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </a>
                            </div>
                        </td>
                    }
                    @if (User.IsInRole("Junior Developer"))
                    {
                        <td>
                            <div class="col-sm-1">
                                <a title="Team" class="modal-link" href="@Url.Action("TL_JD_ManageProject", "Project", new { id = item.Project.Id })">
                                    <span class="glyphicon glyphicon-user"></span>
                                </a>
                                <a title="Request To Leave" class="requestleave" href="@Url.Action("RequestToLeave", "Project", new { id = item.Project.Id })">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </a>
                            </div>
                        </td>
                    }

                </tr>
            }

        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $("#assignedtable").DataTable();
           
        });

        $("#assignedtable").on("click", ".leaveproj", function (e) {

            e.preventDefault();
            var location = $(this).attr('href');


            bootbox.confirm("Are you sure you want to leave this project?", function (result) {
                if (result) {
                    window.location.replace(location);
                    toastr.success('Left The Project Successfully!');

                }
            });



        });

        $('.deliverproj').click(function (e) {

            e.preventDefault();
            $.ajax({

                url: $(this).attr("href"),
                success: function () {
                    var NestId = $(this).data('id');
                    toastr.success('Delivered The Project Successfully!');
                }

            }
            );


        });

        $('.requestleave').click(function (e) {

            e.preventDefault();
            $.ajax({

                url: $(this).attr("href"),
                success: function () {
                    var NestId = $(this).data('id');
                    toastr.success('Request To Leave Project Has Been Sent Successfully!');
                }

            }
            );


        });

        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();
            // Initialize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });
            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
        });

        
       
    </script>
</div>

